div{
    background-color: rgb(12, 196, 52);
}
.username{
    margin: 0.2cm;
}
.password{
    margin: 0.3cm;
}
.Email{
    margin: 0.3cm;
}
.Phone{
    margin: 0.3cm;
}
.Birthdate{
    margin: 0.3cm;
}
.Birthdate{
    margin: 0.3cm;
}
.comment{
    margin: 0.3cm;
}